# Ignore target folder
target/

# Ignore IDE files
.idea/
*.iml

infrastructure/docker-compose/volumes/kafka/
infrastructure/docker-compose/volumes/zookeeper/

user-service/user-container/target/*.jar
product-service/product-container/target/*.jar
